.userEmail {
  color: white;
  font-size: 1rem;
  margin:0;
}

.logoutButton {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
  background-color: white;
  color: #333;
}

.navigationItem {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}

.navigationLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.navigationLink:hover {
  color: #ddd;
}